<ion-view view-title="Add Prescription">

  <ion-content>

  <form>
   <div class="item item-divider">
           Add Patient Details
          </div>
 <div class="list">
  <label class="item item-input">
    <span class="input-label">First Name</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Last Name</span>
    <input type="text">
  </label>
   <label class="item item-input">
    <span class="input-label">Age </span>
    <input type="number">
  </label>
   <label class="item item-input">
    <span class="input-label">Gender </span>

  <span class="form-row">
  <label for="radio-one">
<input type="radio" value="radio-one" name="quality" id="radio-one"> <span>Male</span>
</label></span>
  <span  class="form-row"> <label for="radio-two">
<input type="radio" value="radio-two" name="quality" id="radio-two"> <span>Female</span>
</label>
</span>


  </label>
   <label class="item item-input">
    <span class="input-label">Address </span>
    <input type="text">
  </label>
    <label class="item item-input">
    <span class="input-label">City </span>
    <input type="text">
  </label>
    <label class="item item-input">
    <span class="input-label">Zip Code </span>
    <input type="text">
  </label>


 <div class="item item-divider">
         Add Patient
          </div>
 <label class="item item-input">
    <span class="input-label">Medicine Name </span>
    <input type="text">
  </label>

  <label class="item item-input ">
    <span class="input-label">Dosage</span>
    <input type="text">
  </label>
   <label class="item item-input">
    <span class="input-label">Days</span>
    <input type="text">
  </label>



  </div>
  <div class="row">
  <div class="col">
  <button class="button button-block button-balanced"> Submit </button></div>
<div class="col">
<button class="button button-block button-balanced"> Cancel</button></div>

</div>

</form>
  </ion-content>
</ion-view>
