<ion-view view-title="UnicusMD" name="loginHome-view">
    <ion-content  >
 
       <div class="no-header flat">
            <div class="content">
                <div class="applogo"></div>
            </div>
        </div>
      <div class="padding ">
      
<style>.icons-app>img{width:70%;}
.icons-app{text-align: center;    text-align: center;
    color: #414344;
    font-size: 14px;}
    .mar-top{ margin-top:45px; }
</style>
<div class="row mar-top">
<div class="col-33 icons-app"  ui-sref="login"><img src="img/doctor-icon.png"><p>Physician</p></div>
<div class="col-33 icons-app" ui-sref="loginPatient"> <img src="img/patient-icon.png"> <p> Patient</p></div>
<div class="col-33 icons-app" ui-sref="loginPharmacy"><img src="img/pharmacy-icon.png"><p>Pharmacy</p></div>
  
</div>
 
 
      </div>
  </ion-content>
 
</ion-view>