   <div class="boxone"> <div class="colw50"> 
   <h1>Acne </h1>
   <p>The most common types of medicines that doctors use to treat acne include: Benzoyl peroxide, such as Brevoxyl or Triaz.</p></div> 
   <div class="colw21">
   <p class="pad5">25-34<p> <p> Patient Age Group </p>
   </div>
   <br>
   <div class="colw21"> <p class="pad4 ">50%<p> <p>Average Visits</p> </div>
   </div>
   <div class="boxone">
   <div class="colw30 f-l border-right"><p class="fo">Erythromycin<p> <p> High Satisfaction</p></div> <div class="colw30 border-right"><p class="pad10">Brevoxyl</p> <p>More Prescribed</p></div><div class="colw30 f-l border-right"><p class="pad5">1.8<p> <p> Other Doctor visits</p></div>
    
   </div>