<ion-view view-title="Past Appointments">
<ion-content>

        <div class=" divider list-border">
          <div class="row  divider-bottom">

            <div class="col col-25 padding">
                  <img src="img/patients1.png" class="patient-image">
            </div>
          <div class="col col-75 appoint-text">
            <h2 class="patient-name">Ben Sparrow</h2>

            <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125531</div></div></div>
            <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 40</div></div></div>
            <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-green">2Arrived</span><span class="status-orange">1Pending</span></div></div></div>
          </div>

        </div>
        </div>

        <div class=" divider list-border">
          <div class="row  divider-bottom">

            <div class="col col-25 padding">
                  <img src="img/patients2.png" class="patient-image">
            </div>
          <div class="col col-75 appoint-text">
            <h2 class="patient-name">Alex</h2>

            <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125532</div></div></div>
            <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 30</div></div></div>
            <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-green">1Arrived</span><span class="status-orange"> 1Pending</span></div></div></div>
          </div>

        </div>
        </div>

        <div class=" divider list-border">
          <div class="row  divider-bottom">

            <div class="col col-25 padding">
                  <img src="img/patients3.png" class="patient-image">
            </div>
          <div class="col col-75 appoint-text">
            <h2 class="patient-name">Marry</h2>

            <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125533</div></div></div>
            <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 20</div></div></div>
            <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-green">3Arrived</span><span class="status-orange">2Pending</span></div></div></div>
          </div>

        </div>
        </div>
		<div class=" divider list-border">
          <div class="row  divider-bottom">

            <div class="col col-25 padding">
                  <img src="img/ben.png" class="patient-image">
            </div>
          <div class="col col-75 appoint-text">
            <h2 class="patient-name">Jhonson</h2>

            <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125534</div></div></div>
            <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 35</div></div></div>
            <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-green">1Arrived</span><span class="status-orange"> 2Pending</span></div></div></div>
          </div>

        </div>
        </div>
		
		<div class=" divider list-border">
          <div class="row  divider-bottom">

            <div class="col col-25 padding">
                  <img src="img/perry.png" class="patient-image">
            </div>
          <div class="col col-75 appoint-text">
            <h2 class="patient-name">Adam</h2>

            <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125532</div></div></div>
            <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 30</div></div></div>
            <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-green">1Arrived</span><span class="status-orange"> 1Pending</span></div></div></div>
          </div>

        </div>
        </div>
		
		<div class=" divider list-border">
          <div class="row  divider-bottom">

            <div class="col col-25 padding">
                  <img src="img/max.png" class="patient-image">
            </div>
          <div class="col col-75 appoint-text">
            <h2 class="patient-name">Allen</h2>

            <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125532</div></div></div>
            <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 30</div></div></div>
            <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-green">1Arrived</span><span class="status-orange"> 1Pending</span></div></div></div>
          </div>

        </div>
        </div>
		
		<div class=" divider list-border">
          <div class="row  divider-bottom">

            <div class="col col-25 padding">
                  <img src="img/mike.png" class="patient-image">
            </div>
          <div class="col col-75 appoint-text">
            <h2 class="patient-name">John</h2>

            <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125532</div></div></div>
            <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 30</div></div></div>
            <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-green">1Arrived</span><span class="status-orange"> 1Pending</span></div></div></div>
          </div>

        </div>
        </div>


  </ion-content>
</ion-view>
