<div class="patientmedc">
<div class="one"> 3 more days left in the prescription</div>
<div class="patientmedctwo"><span>Effected</span>	<span>    : 60% </span></div>
<div class="patientmedctwo"><span> Daily   	    </span>	<span>: 2 times</span></div>
<div class="patientmedctwo"> <span>Renewed 	    </span>	<span>: 2 times</span></div>
<div class="patientmedctwo"><span> Comparison	</span><span>: 1.5 % </span> </div>
<div class="patientmedctwo"> <span>Medicines </span><span> 	: 18 </span></div>
</div>