

<ion-tabs class="tabs-top tabs-icon-top tabs-color-active-balanced">

    <ion-tab title="Today" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" href="#/tab/appointments/today">
      <ion-nav-view name="today"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Upcoming" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/appointments/upcoming" >
      <ion-nav-view name="upcoming"></ion-nav-view>
    </ion-tab>

    <ion-tab title="past" icon-on="ion-ios-time" icon-off="ion-ios-time-outline"  href="#/tab/appointments/past" >
      <ion-nav-view name="past"></ion-nav-view>
    </ion-tab>

</ion-tabs>
