<ion-view view-title="Account">
    <ion-content>
    <!--   <div class="profile-bg">
        <div>profile</div>
      </div> -->
      <div class="hero " style="background-image: url('img/material-graphite.png');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/doc.png');"></div>
                <h3><a class="light">Dr. Ernine Blanco</a></h3>
                <h4><span class="ion-network"></span> General Medicine</h4>
            </div>
        </div>
        <hr>
        <div class="item item-divider">
          Settings
        </div>
        <ul class="list">
<li class="item" ng-click="logout()">Logout</li>
  <li class="item item-toggle">
     Notification
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
<li>
  <label class="item item-input item-select">
    <div class="input-label">
      Frequency
    </div>
    <select>
      <option selected>Daily</option>
      <option>Weekly</option>
      <option>Monthly</option>
    </select>
  </label>
</li>
   <li class="item"> Change Password </li>
   <li class="item"> Privacy Statement</li>
</ul>
    </ion-content>
  </ion-view>
