<ion-view view-title="Analytics">
  <ion-content>
   <div class="row">
      <div class="col col-25"><img src="img/doc.png" class="img-responsive img-border"></div>
      <div class="col col-50">
        <div class="doc-name">Dr. Ernine Blanco</div>
        <div class="doc-deg">General Medicine</div>
        <div class="doc-location">Livonia, Michigan</div>
      </div>
      <div class="col col-25">
        <img src="img/hospatel.png" class="img-responsive">
        <div class="text-center doc-deg">Michigan</div>
      </div>
    </div>
    <hr>
  <div class="padding">
     
    </div>
    <div class="row"> 
    <div class="col col-50 icons-app" ui-sref="tab.faq"> <img src="img/faq.png">
    <p> FAQ </p>
    </div>
     <div class="col col-50 icons-app" ui-sref="tab.medicine"> <img src="img/doctor-icon.png"> <p>Doctor Analytics</p></div> 
    <!-- <div class="col col-33 icons-app" ui-sref="tab.disease">  <img src="img/dee.png"> <p> Diseases</p></div>-->
    </div>
  
  </ion-content>
</ion-view>
