<ion-view view-title="Today Appointments">
  <ion-content>
  <!--  <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
        <img src="img/patients1.png" class="patient-img">
        <h2 class="patient-name">Ben Sparrow</h2>
        <p class="patient-id">Patient ID : 125543</p>
        <p class="patient-age">Age : 30</p>
        <p class="patient-msg">Status : Arrived <span><span></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>-->


      <div class=" divider list-border">
        <div class="row  divider-bottom">

          <div class="col col-25 padding">
                <img src="img/patients1.png" class="patient-image">
          </div>
        <div class="col col-50 appoint-text">
          <h2 class="patient-name">David Joseph</h2>

          <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125541</div></div></div>
          <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 40</div></div></div>
          <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-green"> Arrived</span></div></div></div>
        </div>

        <div class="col col-25 col-center">
          <p class="text-center"><span class="time">11AM</span></p>
        </div>
      </div>
      </div>

      <div class=" divider list-border">
        <div class="row  divider-bottom">

          <div class="col col-25 padding">
                <img src="img/patients2.png" class="patient-image">
          </div>
        <div class="col col-50 appoint-text">
          <h2 class="patient-name">Steve Robert</h2>

          <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125542</div></div></div>
          <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 30</div></div></div>
          <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-green">Arrived</span></div></div></div>
        </div>

        <div class="col col-25 col-center">
          <p class="text-center"><span class="time">1PM</span></p>
        </div>
      </div>
      </div>

      <div class=" divider list-border">
        <div class="row  divider-bottom">

          <div class="col col-25 padding">
                <img src="img/patients3.png" class="patient-image">
          </div>
        <div class="col col-50 appoint-text">
          <h2 class="patient-name">Sophia</h2>

          <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125543</div></div></div>
          <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 20</div></div></div>
          <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-orange">Pending</span></div></div></div>
        </div>

        <div class="col col-25 col-center">
          <p class="text-center"><span class="time">4PM</span></p>
        </div>
      </div>
      </div>
	  <div class=" divider list-border">
        <div class="row  divider-bottom">

          <div class="col col-25 padding">
                <img src="img/ben.png" class="patient-image">
          </div>
        <div class="col col-50 appoint-text">
          <h2 class="patient-name">Stephen</h2>

          <div class="patient-id"><div class="row no-padding"><div class="form-row">Patient ID</div> <div class="form-row">: 125544</div></div></div>
          <div class="patient-age"><div class="row no-padding"><div class="form-row">Age </div> <div class="form-row">: 25</div></div></div>
          <div class="patient-msg"><div class="row no-padding"><div class="form-row">Status</div> <div class="form-row"><span class="status-red">Cancel</span></div></div></div>
        </div>

        <div class="col col-25 col-center">
          <p class="text-center"><span class="time">6PM</span></p>
        </div>
      </div>
      </div>



  </ion-content>
</ion-view>
