<ion-view view-title="Medicines list" ng-controller="MedicinesCtrl">
  <ion-content>
    <div class="row divider">
      <div class="col col-33 padding">
         <div class="doc-dash divider-bottom">06</div>
         <div class="doc-dash-text">No. of Medicine Prescribed</div>
      </div>
      <div class="col col-33 padding">
        <div class="doc-dash divider-bottom">04</div>
        <div class="doc-dash-text">Medicine on Schedule</div>
      </div>
      <div class="col col-33 padding">
        <div class="doc-dash divider-bottom">02</div>
        <div class="doc-dash-text">Out of Stock</div>
      </div>
   </div>
    <hr>




   <hr>

<div class=" divider"  ng-click="showAlert()">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients1.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Sheldon Murphy</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:31 AM</div>
    </div>
  </div>
  </div>

  <hr>

  <div class=" divider"  ng-click="showAlert()">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients2.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Peterson</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:20 AM</div>
    </div>
  </div>
  </div>
  <hr>
   <div class=" divider">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients1.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Sheldon Murphy</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:31 AM</div>
    </div>
  </div>
  </div>

  <hr>

  <div class=" divider">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients2.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Peterson</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:20 AM</div>
    </div>
  </div>
  </div>

  </ion-content>
</ion-view>
