<ion-view cache-view="false">

    <ion-nav-title>Pharmacy Analytics</ion-nav-title>
    <ion-nav-bar class="bar-balanced nav-title-slide-ios7" class="button-clear">
       <ion-nav-back-button>
      </ion-nav-back-button>
       
      </ion-nav-bar> 
<ion-content>

  <div id="form-container">
  
      <div class="page-header text-center">
         
          
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref="pharmacy.medicine.overview"><span>
<i class="ion-network"></i></span>Doctors</a>
              <a ui-sref-active="active" ui-sref="pharmacy.medicine.medicine"><span><i class="ion-medkit"></i></span>Medicines
</a>
              <a ui-sref-active="active" ui-sref="pharmacy.medicine.patient"><span><i class="ion-person"></i>
</span> Patients 
</a>
<a ui-sref-active="active" ui-sref="pharmacy.medicine.disease"><span><i class="ion-bug"></i></span> Diseases</a>
          </div>
      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form id="signup-form" >
          <!-- our nested state views will be injected here -->
          <div ui-view></div>
      </form>
  </div>
  </ion-content>
  
</ion-view>
  <!-- show our formData as it is being typed -->