<ion-view view-title="disease">

<ion-tabs class="tabs-top tabs-icon-top tabs-color-active-balanced">

    <ion-tab title="Overview" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline" href="#/tab/disease/overview">
      <ion-nav-view name="overview"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Patients" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/disease/patient" >
      <ion-nav-view name="patient"></ion-nav-view>
    </ion-tab>

    <ion-tab title="medicine" icon-on="ion-ios-time" icon-off="ion-ios-time-outline"  href="#/tab/disease/medicine" >
      <ion-nav-view name="medicine"></ion-nav-view>
    </ion-tab>

</ion-tabs>
</ion-view >
