<!--   <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search"  ng-model="search">
  </label>
   <div ng-repeat="patient in patients | filter:search" ng-click="showAlert()"> </div>
      <div class="boxone"> <div class="colw50"> 
   <h1>Brevoxyl</h1>
   <p>The most common types of medicines that doctors use to treat acne include: Benzoyl peroxide, such as Brevoxyl or Triaz.</p></div> <div class="colw21"><p class="pad2">50%</p> <p>Satified</p></div>
   <br>
   <div class="colw21"><p class="pad3">10%</p> <p>Side Effect</p></div>
   </div>
   <div class="boxone">
   <div class="colw30 border-right"><p class="pad4">45%</p> <p>Same Disease</p></div> <div class="colw30 border-right"><p class="pad5">25%</p> <p> Better Alternative </p></div>
   <div class="colw30 f-l border-right"><p class="fo">Panoxyl</p> <p> Alternative Drug</p></div>
   

	
   </div>
   <div class="row"> <div class="col col-50"> <button class="button button-block button-balanced" ui-sref="pharmacy.medicine.patient">
  Patients
</button></div> <div class="col col-50"> <button class="button button-block button-dark" ui-sref="pharmacy.medicine.disease">
 Diseases
</button></div></div> 
   </div>-->
   
    <div class="list ">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search"  ng-model="search">
  </label>
</div>
    <div style="width:100%">
	
	<div class="onepatient" ng-repeat="patient in med | filter:search" ng-click="medAlert(patient.name)">
	<div class="row  divider-bottom "  type="item-text-wrap">

     <!-- <div class="col col-25">
          <img ng-src="{{patient.face}}"  class="img-responsive img-border">
      </div>-->
    <div class="col col-75 appoint-text">
      <div class="noti-text">{{patient.name}}</div>
      <!--<div class="noti-msg">Patient ID : {{patient.PatientID}}</div>
      <div class="noti-time">Age : {{patient.Age}}</div>-->
    </div>
  </div></div>
  </div>