<div class="patientmedc">
<!--<div class="one">Number of medicines sold </div>-->
<div class="patientmedctwo"><span>Number of time visits</span><span>: 5</span></div>
<div class="patientmedctwo"><span>Probability of a refill for current prescription </span><span>: 50</span></div>
<div class="patientmedctwo"> <span>Is willing to be contacted with promotions?</span>
<span>: Yes</span></div>
<!--<div class="patientmedctwo"><span> Comparison	</span><span>: 1.5 % </span> </div>
<div class="patientmedctwo"> <span>Medicines </span><span> 	: 18 </span></div>-->
</div>