<div class="patientmedc">
<!--<div class="one">Number of medicines sold </div>-->
<div class="patientmedctwo"><span>Number of medicines sold</span><span>: 84</span></div>
<div class="patientmedctwo"><span>Average renewals for this medicine</span><span>: 12</span></div>
<div class="patientmedctwo"> <span>Side effects per medicine by brand</span>
<span>: 3%</span></div>
<!--<div class="patientmedctwo"><span> Comparison	</span><span>: 1.5 % </span> </div>
<div class="patientmedctwo"> <span>Medicines </span><span> 	: 18 </span></div>-->
</div>