<ion-view view-title="UnicusMD">
  <ion-content class="">

    <div class="row">
      <div class="col col-25"><img src="img/hospatel.png" class="img-responsive img-border"></div>
      <div class="col col-75">
        <div class="doc-name">Michigan Pharmacy</div>
        <div class="doc-deg">Halsted road,Apt #214,Farmington Hills, MI-4833t</div>
        <div class="doc-location">Livonia, Michigan</div>
      </div>
      
    </div>
<hr>
   <div class="row divider">
     <div class="col padding">
        <div class="doc-dash divider-bottom">1286</div>
        <div class="doc-dash-text">Total Patients</div>
     </div>
     <div class="col padding">
       <div class="doc-dash divider-bottom">9086</div>
       <div class="doc-dash-text">Total Medicines</div>
     </div>
     <div class="col padding">
       <div class="doc-dash divider-bottom">20</div>
       <div class="doc-dash-text">Refill Due</div>
     </div>
     <div class="col padding">
       <div class="doc-dash-report divider-bottom">1234</div>
       <div class="doc-dash-text">Medicines Reported</div>
     </div>
  </div>
<hr>
  
  <div class="notification-bg">
    <div class="row  divider-bottom">
    <div class="col text-center noti">Notifications</div>
  </div>
  </div>
<!--<div class=" divider">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients1.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Sheldon Murphy</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:31 AM</div>
    </div>
  </div>
  </div>

  <hr>

  <div class=" divider">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients2.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Peterson</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:20 AM</div>
    </div>
  </div>
  </div>

  <hr>

  <div class=" divider">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients3.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Monika Julanda</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:10 AM</div>
    </div>
  </div>
  </div>-->
   <div class="list card">

  <div class="item item-avatar">
    
    <h2>Ibuprofen</h2>
    
  </div>

  <div class="item item-body">
   
    <p> Aleve is most used alternative. Rashes and Ringing in the Ears are most Common Reported side effects 73%
       users say it worked for them Read more about this drug here.  
    </p>
</div>
</div>


<div class="list card">

  <div class="item item-avatar">
    
    <h2>Brevoxyl</h2>
    
  </div>

  <div class="item item-body">
   
    <p> Brevoxyl is most used alternative. 
	Rashes and Ringing in the Ears are most Common Reported side effects 80%
       users say it worked for them Read more about this drug here.  
    </p>
</div>
</div>

<div class="list card">

  <div class="item item-avatar">
    
    <h2>Hifenac D</h2>
    
  </div>

  <div class="item item-body">
   
    <p> Hifenac D Tablet is a medicine that is used for the treatment of Toothache,
	Bones And Joints Pain, Cold, Fever, Rheumatoid Arthritis, Swelling and other conditions.  
    </p>
</div>
</div>

<div class="list card">

  <div class="item item-avatar">
    
    <h2>Adderall</h2>
    
  </div>

  <div class="item item-body">
   
    <p>Adderall is used to treat narcolepsy and attention deficit hyperactivity disorder (ADHD).
 
    </p>
</div>
</div>

<div class="list card">

  <div class="item item-avatar">
    
    <h2>Amlodipine</h2>
    
  </div>

  <div class="item item-body">
   
    <p> Amlodipine is a calcium channel blocker that dilates (widens) blood vessels and improves blood flow.

Amlodipine is used to treat chest pain (angina) and other conditions caused by coronary artery disease.
    </p>
</div>
</div>

<div class="list card">

  <div class="item item-avatar">
    
    <h2>Paracetamol</h2>
    
  </div>

  <div class="item item-body">
   
    <p>Paracetamol is used to treat many conditions such as
	headache, muscle aches, arthritis, backache, toothaches, colds, and fevers..  
    </p>
</div>
</div>
 </ion-content>
</ion-view>
