<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Doctor Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" class="border" href="#/pharmacy/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Analytics" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" class="border" href="#/pharmacy/analytics">
    <ion-nav-view name="tab-analytics"></ion-nav-view>
  </ion-tab>
    <!-- Doctor Chats Tab 
    <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" class="border" href="#/pharmacy/chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>
-->
  <!-- Doctor Appointments Tab 
  <ion-tab title="Appointments" icon-off="ion-ios-calendar-outline" icon-on="ion-refresh" class="border" href="#/pharmacy/appointments">
    <ion-nav-view name="tab-appointments"></ion-nav-view>
  </ion-tab>
-->
  <!-- Total patients Tab -->
  <ion-tab title="Refill" icon-off="ion-android-refresh" icon-on="ion-android-refresh" class="border" href="#/pharmacy/patients">
    <ion-nav-view name="tab-patients"></ion-nav-view>
  </ion-tab>

<!-- Doctor Medicines list Tab -->
<!--<ion-tab title="Patients" icon-off="ion-person-add" icon-on="ion-person-add" class="border" href="#/pharmacy/medicineslist">
  <ion-nav-view name="tab-medicineslist"></ion-nav-view>
</ion-tab> -->

<!-- Doctor Account Tab -->
<ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/pharmacy/account">
  <ion-nav-view name="tab-account"></ion-nav-view>
</ion-tab>

</ion-tabs>
