
<ion-view view-title="Answer">
<!--<ion-nav-buttons side="left">
    <a ng-click="goBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
        <i class="ion-android-arrow-back"" id="customArrow"></i>
    </a>
</ion-nav-buttons>-->
  <ion-content>
  
     <div class="card">
   <div class="item item-text-wrap">
       <strong>{{pquestion.question}}</strong>
   </div>
   
   <div class="item item-text-wrap">
       {{pquestion.answer}}
   </div>
</div>
  </ion-content>
</ion-view>
