<ion-view view-title="Review" name="">

  <ion-content>
 
<div class="green item item-avatar">
      <img src="img/patients1.png" class="doctor-img">
      <h2>John Smith, MD</h2>
      <p> <i class="icon ion-android-add-circle small-size"></i> <span>internalMedicine</span> </p>
       <p> <i class="icon ion-ios-location-outline small-size"></i> <span>Overtake Hospital Medical center Bellevue, WA 98007
       </span></p>
   
</div>
<div class="border-bottom font-large">
<div class="row"> <div class="col col-50"> <i class="ion-medkit"> </i> 12 years Experiance </div>  <div class="col col-50">  <i class="ion-thumbsup"> </i> 95% Recommended</div></div>
</div>
 <div class="item item-icon-left" >
    <i class="icon ion-android-chat"></i>
  Test Consultation for 24 Hours
    <span class="item-note">
    $20
    </span>
  </div>

<div class="item item-icon-left" >
    <i class="icon ion-android-chat"></i>
  Visited for Acne / pimples treatment
  <div class="comment">i was provided a logical and a high detailed explanation about explanation about the cause my</div>

 <div class="comment"><i class="ion-thumbsup"></i> John peter 2days ago </div>
  </div>
<div class="item item-icon-left" >
    <i class="icon ion-android-chat"></i>
  Visited for Acne / pimples treatment
  <div class="comment">i was provided a logical and a high detailed explanation about explanation about the cause my</div>

 <div class="comment"><i class="ion-thumbsup"></i> John peter 2days ago </div>
  </div>
  <div class="item item-icon-left" >
    <i class="icon ion-android-chat"></i>
  Visited for Acne / pimples treatment
  <div class="comment">i was provided a logical and a high detailed explanation about explanation about the cause my</div>

 <div class="comment"><i class="ion-thumbsup"></i> John peter 2days ago </div>
  </div>
  <div class="item item-icon-left" >
    <i class="icon ion-android-chat"></i>
  Visited for Acne / pimples treatment
  <div class="comment">i was provided a logical and a high detailed explanation about explanation about the cause my</div>

 <div class="comment"><i class="ion-thumbsup"></i> John peter 2days ago </div>
  </div>
  <div class="item item-icon-left" >
    <i class="icon ion-android-chat"></i>
  Visited for Acne / pimples treatment
  <div class="comment">i was provided a logical and a high detailed explanation about explanation about the cause my</div>

 <div class="comment"><i class="ion-thumbsup"></i> John peter 2days ago </div>
  </div>



  </ion-content>




</ion-view>
