<ion-view view-title="Monthly Appointments">
  <ion-content>
  <!--  <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right">
        <img src="img/patients1.png" class="patient-img">
        <h2 class="patient-name">Ben Sparrow</h2>
        <p class="patient-id">Patient ID : 125543</p>
        <p class="patient-age">Age : 30</p>
        <p class="patient-msg">Status : Arrived <span><span></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>-->

 <div class="card noshadow ">
  
      <div class="item-divider green nopadding h50" ng-click="showAlert()">
    <div class="row "> <div class="col text-right ">  <i class="ion-chevron-left "></i></div>  
    <div class="col col-80 text-center"> August 20, 2016</div> <div class="col text-left"> <i class="ion-chevron-right "></i> </div></div>
  </div>

 <div class=" appoinment-box text-green" ng-click="showAlert()">
  <div class="row"> <div class="col-75">Sunday</div>  </div> </div>

 

     <div class=" appoinment-box" ng-click="showAlert()">
  <div class="row"> <div class="col-75">Monday</div>  </div> </div>

  <div class=" appoinment-box ">
   
   <div class="row"> <div class="col-67">Tuesday</div>  </div></div>

    <div class=" appoinment-box">
    <div class="row">  <div class="col-67">wednesday</div>  </div></div>
      <div class=" appoinment-box">  <div class="row"> <div class="col-67">Thursday</div>  </div></div>
    <div class=" appoinment-box">
    <div class="row"><div class="col-67">Friday</div>  </div></div>


 <div class=" appoinment-box">
    <div class="row"> <div class="col-67">Saturday</div>  </div></div>
  </div>
 


<div class="padding">

  <button class="button button-block button-balanced">
  Block Appoinment
</button>

</div>
  </ion-content>
</ion-view>
