
<!--
<ion-content>
   
   <div class="boxone"> <div class="colw50"> 
   <h1>Acne </h1>
   <p>The most common types of medicines that doctors use to treat acne include: Benzoyl peroxide, such as Brevoxyl or Triaz.</p></div> <div class="colw25"><p class="pad">Brevoxyl</p></div>
   <br>
   <div class="colw25"><p class="pad">Stridex<p></div>
   </div>
   <div class="boxone">
   <div class="colw30 f-l border-right"><p class="pad">Erythromycin<p></div> <div class="colw30 border-right"><p class="pad">25-34<p></div> <div class="colw30 border-right"><p class="pad">2.2<p></div>
    <div class="colw30 f-l border-right"><p class="pad">1.8<p></div> <div class="colw30 f-l border-right padtow"><p class="pad">
<button class="button button-balanced"> + </button><p></div>
   </div>
  </ion-content>
  -->
  
<div class="list ">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search"  ng-model="search">
  </label>
</div>
    <div style="width:100%">
	
	<div class="onepatient" ng-repeat="patient in patients | filter:search" ng-click="showAlert()">
	<div class="row  divider-bottom "  type="item-text-wrap">

      <div class="col col-25">
          <img ng-src="{{patient.face}}"  class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">{{patient.name}}</div>
      <div class="noti-msg">Patient ID : {{patient.PatientID}}</div>
      <div class="noti-time">Age : {{patient.Age}}</div>
    </div>
  </div></div>
  
  
  
	
	

    </div>
 
