<ion-view view-title="UnicusMD">
  <ion-content class="">

    <div class="row">
      <div class="col col-25"><img src="img/patients1.png" class="img-responsive img-border"></div>
      <div class="col col-75">
        <div class="doc-name">Mr. Ernine Blanco</div>
        <div class="doc-deg"><span>Patient ID</span><span>:543213</span></div>
        <div class="doc-deg"><span>Age </span> <span>:42</span></div>
        <div class="doc-location">Livonia, Michigan</div>
      </div>
    
    </div>
<hr>
   <div class="row divider">
     <div class="col padding">
        <div class="doc-dash divider-bottom">12</div>
        <div class="doc-dash-text">Total Medicines</div>
     </div>
     <div class="col padding">
       <div class="doc-dash divider-bottom">08</div>
       <div class="doc-dash-text">On Schedule</div>
     </div>
     <div class="col padding">
       <div class="doc-dash divider-bottom">04 </div>
       <div class="doc-dash-text">Out of Stock</div>
     </div>
    
  </div>
<hr>
  <div class="divider search">
<div class="list">

  <div class="item item-input-inset nopadding">
    <label class="item-input-wrapper white ">
      <input type="text" placeholder="Search for doctor">
    </label>
    <a class="button button-clear"  ui-sref="doctorprofile">
     <i class="icon ion-ios-search placeholder-icon"></i>
    </a>
  </div>

</div>

 
  </div>
<hr>
  <div class="notification-bg">
    <div class="row  divider-bottom">
    <div class="col text-center noti">Notifications</div>
  </div>
  </div>

  <div class=" divider">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients1.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Sheldon Murphy</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:31 AM</div>
    </div>
  </div>
  </div>

  <hr>

  <div class=" divider">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients2.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Peterson</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:20 AM</div>
    </div>
  </div>
  </div>

  <hr>

  <div class=" divider">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients3.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Monika Julanda</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:10 AM</div>
    </div>
  </div>
  </div>

  <div class=" divider">
    <div class="row  divider-bottom">

      <div class="col col-25">
          <img src="img/patients3.png" class="img-responsive img-border">
      </div>
    <div class="col col-75 appoint-text">
      <div class="noti-text">Monika Julanda</div>
      <div class="noti-msg">Hi doctor good morning i am just started taking medicine...</div>
      <div class="noti-time">10 JUL 2016 11:10 AM</div>
    </div>
  </div>
  </div>

  </ion-content>
</ion-view>
