<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-balanced">

  <!-- Doctor Dashboard Tab -->
  <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" class="border" href="#/patient/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
<ion-tab title="Analytics" icon-off="ion-ios-analytics-outline" icon-on="ion-ios-analytics" class="border" href="#/patient/analytics">
    <ion-nav-view name="tab-analytics"></ion-nav-view>
  </ion-tab>
    <!-- Doctor Chats Tab -->
    <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" class="border" href="#/patient/chats">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

  <!-- Doctor Appointments Tab -->
  <ion-tab title="Appointments" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" class="border" href="#/patient/appointments">
    <ion-nav-view name="tab-appointments"></ion-nav-view>
  </ion-tab>

  <!-- Total patients Tab 
  <ion-tab title="Patients" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" class="border" href="#/patient/patients">
    <ion-nav-view name="tab-patients"></ion-nav-view>
  </ion-tab>-->

<!-- Doctor Medicines list Tab 
<ion-tab title="Medicines" icon-off="ion-ios-medkit-outline" icon-on="ion-ios-medkit" class="border" href="#/patient/medicineslist">
  <ion-nav-view name="tab-medicineslist"></ion-nav-view>
</ion-tab>-->

<!-- Doctor Account Tab -->
<ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/patient/account">
  <ion-nav-view name="tab-account"></ion-nav-view>
</ion-tab>

</ion-tabs>
